html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.logo {
  width: 100%;
}

.banner-content {
  display: flex;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
  bottom: 1em;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-big {
  font-size: 1.5rem;
}

span {
  font-family: Roboto, sans-serif;
}

.btn:hover {
  background-color: #000;
}
