html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.logo {
  width: 33%;
  align-items: flex-start;
}

.banner-content {
  display: flex;
  padding: 0 1em;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
  max-width: 45em;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  margin: 0;
  width: 60%;
}

h2 {
  line-height: 1.2;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 .5rem;
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  margin: 0 0 1.25rem;
}

.btn {
  display: inline-block;
  padding: .5em .8em .57em;
  font-size: 1.125rem;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-big {
  font-size: 1.5rem;
}

span {
  font-family: Roboto, sans-serif;
}

.btn:hover {
  background-color: #000;
}
